term4/АПК/Литература
term4/КПиЯП/Books
term5/CиФОЭВМ/Книги
term5/АПК/Литература
term6/АВП/Лекции
term6/АВП/Книги
term6/ЦОСиИ/Книги
term6/ЦОСиИ/Лекции
term6/ЦОСиИ/ЦОСиИ, ЛР № 1/lab1
term6/Социология/ЭРУД Социология
term6/Социология/Темы

term7/СПОЛКС/lab1
term7/СПОЛКС/Lab2
term7/СПОЛКС/lab3
term7/СПОЛКС/lab4




Тестирование программного обеспечения. Базовый курс.pdf


СА, парктикум.pages
СА, парктикум.pdf

#term7/АОКС
term7/АОКС/lections

#term7/АПВМиС
term7/АПВМиС/lections

#term7/БД
term7/БД/lections
БД, лабораторный практикум (2013).pdf

#term7/Мод
term7/Мод/lections
Мод, учебное пособие (2007).pdf

#term7/МПСиС
term7/МПСиС/lections


#term8/КиДСВТ
КиДСВТ, методическое пособие (2005).pdf
Modius.exe

#term8/МППиУ
МППиУ, лабораторный практикум (2013).pdf
term8/МППиУ/МППиУ, ЭРУД

#term8/СХД/
Wireshark-win32-1.10.7.exe
Firefox Setup 52.9.0esr.exe
term8/СХД/FC_SAN_Trace.pcap
term8/СХД/flashplayer32_0r0_363_win.msi
term8/СХД/iSCSI_SAN_Trace.pcap
term8/СХД/vnxe-demo.exe

#diploma
diploma/Примеры
Зачётная книжка.pdf
ДП, приказ об утверждении тем дипломных проектов.pdf
bsuirSchedule.ipa
