term6/АВП/Лекции
term6/АВП/Книги
СА, парктикум.pages
СА, парктикум.pdf
term6/ЦОСиИ/Книги
term6/ЦОСиИ/Лекции
term5/CиФОЭВМ/Книги
term5/АПК/Литература
term4/КПиЯП/Books
term6/ЦОСиИ/ЦОСиИ, ЛР № 1/lab1
term6/Социология/ЭРУД Социология
term6/Социология/Темы
Тестирование программного обеспечения. Базовый курс.pdf
Договор о прохождении производственной практики.doc
term7/МПСиС/Datasheets

#Vivado

#########################################################################################
##  Project    : Collect of various scripts for working with EDA-tools (ASIC/FPGA/etc) ##
##  Link       : https://github.com/iDoka/eda-scripts                                  ##
##  Description: .gitignore                                                            ##
##  Usage      : just rename or add contain to .gitignore                              ##
##  License    : MIT                                                                   ##
#########################################################################################

## log files
*.log
*.jou
*.rpt
*.vdi

## bitstream
*.bit
*.bin
*.mcs
*.svf
*.image

## netlist
*.edf
*.edif
*.vn
*.vm

## SDF
*.sdf

## sim dump
*.vcd
*.saif
*.tcf
*.wdb

## others
unisims

## C-files
*.elf
*.a
*.sa
*.so
*.lib

## dirs
vivado.cache/
vivado.hw/
vivado.ip_user_files/
vivado.runs/
vivado.sim/

###### for Xilinx Vivado|ISE
.Xil/
.cache/
fsm_encoding.os
tab_*/
webtalk.*
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.sim
*.runs
*.hw
*.backup.*
*.debug

## checkpoint files
*.dcp
term7/МПСиС

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Бланк диплома.doc
term7/АОКС/Лекции
АОКС, вопросы к зачёту.pdf
term7/БД/lections
term7/АПВМиС/Лекции
term4/АПК/Литература
term7/СПОЛКС/lab1
term7/СПОЛКС/Lab2
term7/СПОЛКС/lab3
term7/СПОЛКС/lab4
term7/Мод/Лекции
term7/СПОЛКС/СПОЛКC, гайд по ЛР (ЕвГЕНИЙ Яговдик).docx
term7/СПОЛКС/СПОЛКС, ответы к экзамену (2022).docx
term7/ЦОСиИ/ЦОСиИ, ответы к экзамену (2022).docx
term8/МППиУ/МППиУ, ЭРУД
