<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (11.0)</string>
	<string>M11.1-7031.0.102-2</string>
	<string>G-r1110-11B107</string>
	<string>G-r1120-11C163</string>
	<string>G-r1120-11C171</string>
</array>
</plist>
