<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (11.2)</string>
	<string>M11.2-7032.0.145-2</string>
	<string>G-r1120-11C171</string>
</array>
</plist>
